.attachment {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-top: -66px;
  min-height: 733px;

  background-color: @color-main;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;
}

@media (min-width: 660px) {
  .attachment {
    margin-top: -110px;
    min-height: 729px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: right -20px bottom 0, top;
  }
}

@media (min-width: 1200px) {
  .attachment {
    min-height: 853px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: right -90px bottom 0, top;
  }
}
