.copyright {
  display: flex;

  color: @color-main;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.copyright span {
  padding-top: 5px;
}

.copyright__link {
  margin-left: 14px;
}

.copyright__link img {
  display: block;
}
