.features {
  background-color: @color-white;
}

.features__lead {
  box-sizing: border-box;
  margin: 0;
  padding: 0 20px;
  padding-top: 38px;
  width: 100%;

  color: @color-main;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

@media (min-width: 1200px) {
  .features__lead {
    padding: 0 130px;
  }
}

.features__wrap {
  background-color: rgb(242, 242, 242);
}

@media (min-width: 660px){
  .features__inner {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1200px){
  .features__inner {
    flex-direction: column;
  }
}

.features__functions {
  box-sizing: border-box;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  padding-top: 113px;

  /*background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position: center bottom -42px;
  background-repeat: no-repeat;*/
  list-style: none;
}

@media (min-width: 660px) {
  .features__functions {
    order: 1;

    /*background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: left 20px bottom;*/
  }
}

@media (min-width: 1200px) {
  .features__functions {
    display: flex;

    /*background-image: url("../img/iphone-screen-1-desktop@1x.png"),
      url("../img/iphone-screen-2-desktop@1x.png"),
      url("../img/iphone-screen-3-desktop@1x.png");
    background-position: left 130px top 10px,
      left 435px top 10px,
      left 735px top 10px;*/
  }
}

@media (min-width: 660px) {
  .features__item {
    width: 320px;
  }
}

@media (min-width: 1200px) {
  .features__item {
    margin: 0 auto;
    width: 250px;
  }
}

.features__title {
  margin: 0;
  padding-bottom: 12px;

  color: @color-black;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

@media (min-width: 660px) and (max-width: 1200px) {
  .features__title {
    text-align: left;
  }
}

.features__function {
  margin: 0;
  padding-bottom: 31px;

  color: @color-main;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

@media (min-width: 660px) and (max-width: 1200px) {
  .features__function {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .features__images {
    display: flex;
  }
}

.features__picture {
  display: block;
  margin: 0 auto;
}

.features__picture--none {
  display: none;
}

@media (min-width: 1200px) {
  .features__picture--none {
    display: block;
  }
}
