.contest__form {
  display: flex;
  flex-direction: column;

  width: 100%;
}

@media (min-width: 660px) {
  .contest__form {
    padding: 0 20px;
    width: auto;
  }
}

@media (min-width: 1200px) {
  .contest__form {
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0 130px;
  }
}

.contest__list {
  .ulstyle();
}

.contest__fieldset {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0 20px;
  width: 100%;

  &--checkbox,
  &--radio {
    background-color: rgb(242, 242, 242);
  }
}

@media (min-width: 660px) {
  .contest__fieldset {
    border: 2px solid rgb(242, 242, 242);
    padding: 0;

    background-color: @color-white;
  }

  .contest__fieldset--name {
    border: none;
  }

  .contest__fieldset--radio {
    order: 1;
  }

  .contest__fieldset--contacts {
    order: 2;
  }

  .contest__fieldset--checkbox {
    order: 3;
  }

  .contest__fieldset--review {
    order: 4;
  }
}

@media (min-width: 1200px) {
  .contest__fieldset--radio,
  .contest__fieldset--name {
    width: 433px;
  }

  .contest__fieldset--name {
    margin-right: auto;
  }

  .contest__fieldset--radio {
    margin-left: auto;
  }
}

.contest__submit {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  padding: 0 20px;
  width: 320px;
}

@media (min-width: 660px) {
  .contest__submit {
    flex-direction: row;
    justify-content: space-between;
    order: 5;

    padding: 0;
    width: 620px;
  }
}

@media (min-width: 1200px) {
  .contest__submit {
    width: 940px;
  }
}

.contest__legend {
  color: @color-fuchsia;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.contest__label {
  color: @color-fuchsia;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

  &--radio,
  &--checkbox {
    color: @color-main;
    font-size: 18px;
    text-transform: none;
  }
}

::-webkit-input-placeholder {
  color: @color-main;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

::-moz-placeholder {
  color: @color-main;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

:-moz-placeholder {
  color: @color-main;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

:-ms-input-placeholder {
  color: @color-main;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.contest__option {
  padding: 18px 0;
}

.contest__checkbox,
.contest__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.contest__checkbox + .contest__label--checkbox,
.contest__radio + .contest__label--radio {
  position: relative;

  padding-left: 70px;

  cursor: pointer;
}

.contest__checkbox + .contest__label--checkbox::before {
  content: "";
  display: inline-block;
  left: 0;
  position: absolute;
  top: -10px;

  border: 4px solid rgb(229, 229, 229);
  height: 35px;
  width: 35px;

  background-color: @color-white;
  border-radius: 5px;
}

.contest__checkbox + .contest__label--checkbox::after {
  content: "";
  display: none;
  left: 10px;
  position: absolute;
  top: 5px;

  height: 16px;
  width: 22px;

  background-image: url("../img/icon-yes.svg");
}

.contest__checkbox:checked + .contest__label--checkbox::after {
  display: inline-block;
}

.contest__radio + .contest__label--radio::before {
  content: "";
  display: inline-block;
  left: 0;
  position: absolute;
  top: -8px;

  border: 2px solid rgb(229, 229, 229);
  height: 35px;
  width: 35px;

  background-color: @color-white;
  border-radius: 50%;
}

.contest__checkbox + .contest__label--checkbox:hover::before,
.contest__radio + .contest__label--radio:hover::before {
  border-color: @color-main;
}

.contest__checkbox + .contest__label--checkbox:active::before,
.contest__radio + .contest__label--radio:active::before {
  border-color: @color-fuchsia;
}

.contest__radio + .contest__label--radio::after {
  content: "";
  display: none;
  left: 11px;
  position: absolute;
  top: 4px;

  height: 15px;
  width: 15px;

  background-color: @color-fuchsia;
  border-radius: 50%;
}

.contest__radio:checked + .contest__label--radio::after {
  display: inline-block;
}
