.form-contest__wrapper {
  &--checkbox,
  &--radio {
    background-color: rgb(242, 242, 242);
    box-shadow: -178px 0 0 38px rgb(242, 242, 242),
      178px 0 0 38px rgb(242, 242, 242);
  }

  &--name {
    margin-bottom: 80px;
  }

  &--checkbox {
    margin-bottom: 70px;
  }

  &--contacts {
    margin-bottom: 80px;
  }

  &--radio {
    margin-bottom: 73px;
  }

  &--review {
    margin-bottom: 45px;
  }

  &--submit {
    margin-bottom: 15px;
  }
}

.form-contest__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form-contest__legend {
  color: @color-fuchsia;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.form-contest__list {
  .ulstyle();
}

.form-contest__option {
  padding: 0;
  padding-top: 0;

  &--name:not(:last-child) {
    margin-bottom: 17px;
  }

  &--checkbox {
    padding-top: 43px;
    margin-bottom: 9px;
  }

  &--contacts:not(:last-child) {
    margin-bottom: 17px;
  }

  &--radio {
    padding-top: 39px;
    margin-bottom: 6px;
  }
}

.form-contest__checkbox,
.form-contest__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form-contest__label {
  display: block;
  margin-bottom: 5px;
  width: auto;

  color: @color-fuchsia;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

  cursor: pointer;

  &--name,
  &--contacts {
    margin-left: 22px;
  }

  &--radio,
  &--checkbox {
    color: @color-main;
    font-size: 18px;
    text-transform: none;
  }

  &--contacts {
    margin-bottom: 5px;
  }

  &--textarea {
    margin: 0;
  }
}

.form-contest__input {
  display: block;

  border: 2px solid rgb(229, 229, 229);
  box-sizing: border-box;
  min-height: 63px;
  padding-left: 20px;
  width: 100%;

  line-height: 30px;

  &:hover {
    border-color: @color-main;
  }

  &:active {
    border-color: @color-fuchsia;

    outline: none;
  }
}

.form-contest__checkbox + .form-contest__label--checkbox,
.form-contest__radio + .form-contest__label--radio {
  position: relative;

  padding-left: 69px;

  cursor: pointer;
}

.form-contest__checkbox + .form-contest__label--checkbox::before {
  content: "";
  display: inline-block;
  left: 0;
  position: absolute;
  top: -4px;

  border: 2px solid rgb(229, 229, 229);
  height: 35px;
  width: 35px;

  background-color: @color-white;
  border-radius: 5px;
}

.form-contest__checkbox + .form-contest__label--checkbox::after {
  content: "";
  display: none;
  left: 9px;
  position: absolute;
  top: 7px;

  height: 16px;
  width: 22px;

  background-image: url("../img/icon-yes.svg");
}

.form-contest__checkbox:checked + .form-contest__label--checkbox::after {
  display: inline-block;
}

.form-contest__radio + .form-contest__label--radio::before {
  content: "";
  display: inline-block;
  left: 0;
  position: absolute;
  top: -4px;

  border: 2px solid rgb(229, 229, 229);
  height: 35px;
  width: 35px;

  background-color: @color-white;
  border-radius: 50%;
}

.form-contest__radio + .form-contest__label--radio::after {
  content: "";
  display: none;
  left: 12px;
  position: absolute;
  top: 8px;

  height: 15px;
  width: 15px;

  background-color: @color-fuchsia;
  border-radius: 50%;
}

.form-contest__radio:checked + .form-contest__label--radio::after {
  display: inline-block;
}

.form-contest__checkbox + .form-contest__label--checkbox:hover::before,
.form-contest__radio + .form-contest__label--radio:hover::before {
  border-color: @color-main;
}

.form-contest__checkbox + .form-contest__label--checkbox:active::before,
.form-contest__radio + .form-contest__label--radio:active::before {
  border-color: @color-fuchsia;
}

::-webkit-input-placeholder {
  color: @color-main;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-overflow: ellipsis;
}

::-moz-placeholder {
  color: @color-main;
  font-size: 18px;
  font-weight: 400;
  line-height: 51px;
  text-overflow: ellipsis;
}

.form-contest__textarea::-moz-placeholder {
  line-height: 30px;
}

:-moz-placeholder {
  color: @color-main;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-overflow: ellipsis;
}

:-ms-input-placeholder {
  color: @color-main;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-overflow: ellipsis;
}

.form-contest__textarea {
  border: 2px solid rgb(229, 229, 229);
  box-sizing: border-box;
  min-height: 201px;
  margin-top: 10px;
  min-width: 280px;
  padding-left: 18px;
  padding-top: 14px;

  &:hover {
    border-color: @color-main;
  }

  &:active {
    border-color: @color-fuchsia;

    outline: none;
  }
}

.form-contest__form-comment {
  align-self: center;
  margin: 0;
  margin-top: 2px;

  color: @color-main;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.form-contest__text-all {
  color: @color-fuchsia;
}

.form-contest__text-desktop {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 659px) {
  .form-contest__legend--contacts {
    .visually-hidden;
  }
}

@media only screen and (min-width: 660px) {
  .contest__form {
    display: flex;
    flex-direction: column;
  }

  .form-contest__wrapper {
    background-color: @color-white;
    box-shadow: none;

    &--name {
      margin-bottom: 58px;
    }

    &--radio {
      order: 1;

      margin-bottom: 57px;
    }

    &--contacts {
      order: 2;

      margin-bottom: 57px;
    }

    &--checkbox {
      order: 3;

      margin-bottom: 51px;
    }

    &--review {
      order: 4;

      margin-bottom: 67px;
    }

    &--submit {
      display: flex;
      justify-content: space-between;
      order: 5;

      padding: 0;
      margin-bottom: 49px;
      width: 100%;
    }
  }

  .form-contest__fieldset {
    &:not(.form-contest__fieldset--name) {
      border: 2px solid rgb(242, 242, 242);
    }

    &--radio {
      padding-bottom: 53px;
      padding-top: 9px;
    }

    &--contacts {
      padding-bottom: 26px;
      padding-top: 37px;
    }

    &--checkbox {
      padding-bottom: 44px;
      padding-top: 5px;
    }

    &--review {
      padding-bottom: 48px;
      padding-left: 58px;
      padding-right: 58px;
      padding-top: 21px;
    }
  }

  .form-contest__legend {
    padding: 0 30px;

    &--radio {
      padding: 0 25px;
    }

    &--review {
      padding: 0 40px;
    }
  }

  .form-contest__list {
    &--radio {
      margin-left: 57px;
    }

    &--contacts {
      margin: 0 58px;
    }

    &--checkbox {
      margin-left: 58px;
    }
  }

  .form-contest__option {
    &--name {
      display: flex;
      align-items: center;
    }

    &--name:nth-child(2) .form-contest__label {
      margin-right: 19px;
    }

    &--name:not(:last-child) {
      margin-bottom: 52px;
    }

    &--contacts {
      display: flex;
      flex-direction: column;
      position: relative;
    }

    &--contacts:not(:last-child) {
      margin-bottom: 29px;
    }

    &--phohe::before,
    &--email::before {
      content: "";
      position: absolute;
      right: 2px;
      top: 2px;

      height: 59px;
      width: 60px;

      background-color: rgb(229, 229, 229);
      background-position: left 50% top 50%;
      background-repeat: no-repeat;
    }

    &--phohe::before {
      background-image: url("../img/icon-phone.svg");
    }

    &--email::before {
      background-image: url("../img/icon-mail.svg");
    }

    &--radio {
      width: 200px;
    }

    &--checkbox {
      width: 280px;
    }
  }

  .form-contest__label {
    &--name {
      margin: 0;
      margin-right: 18px;
    }

    &--contacts {
      order: 1;

      margin-bottom: 0;
      margin-left: 19px;
    }
  }

  .form-contest__input {
    &--contacts {
      margin-bottom: 10px;
      padding-left: 18px;
    }
  }

  .form-contest__radio + .form-contest__label--radio,
  .form-contest__checkbox + .form-contest__label--checkbox {
    padding-left: 59px;
  }

  .form-contest__textarea {
    min-height: 193px;
    margin-top: 10px;
    min-width: 500px;
  }
}

@media only screen and (min-width: 960px) {
  .contest__form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form-contest__wrapper {
    width: 100%;

    &--radio {
      width: 434px;
      margin-bottom: 57px;
      margin-left: auto;
    }

    &--name {
      width: 436px;
      margin-bottom: 57px;
      margin-right: auto;
    }

    &--review {
      margin-bottom: 65px;
    }

    &--submit {
      margin-bottom: 0;
    }
  }

  .form-contest__fieldset {
    &--name {
      padding-top: 14px;
    }

    &--radio {
      padding-bottom: 55px;
      padding-top: 12px;
    }

    &--contacts {
      padding-bottom: 13px;
      padding-top: 34px;
    }

    &--checkbox {
      padding-bottom: 51px;
    }

    &--review {
      padding-bottom: 40px;
      padding-top: 18px;
    }
  }

  .form-contest__legend {
    &--radio {
      padding: 0;
      width: 371px;
      transform: translate(-1px);
    }
  }

  .form-contest__list {
    &--contacts {
      display: flex;
      justify-content: space-between;
    }

    &--checkbox {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      margin-right: 60px;
    }
  }

  .form-contest__option {
    &--name:first-child {
      margin-bottom: 54px;
    }

    &--radio {
      margin-bottom: 5px;
      padding-left: 16px;
    }

    &--contacts {
      width: 375px;
    }

    &--contacts:not(:last-child) {
      margin-bottom: 0;
    }

    &--checkbox {
      margin-bottom: 4px;
      width: auto;
    }

    &--checkbox-2 {
      order: 3;
    }

    &--checkbox-3 {
      order: 1;
    }

    &--checkbox-4 {
      order: 4;

      margin-left: 35px;
    }

    &--checkbox-5 {
      order: 2;

      margin-right: 5px;
    }

    &--checkbox-6 {
      order: 5;
    }
  }

  .form-contest__label {
    &--name {
      margin-right: 19px;
    }
  }

  .form-contest__textarea {
    min-height: 128px;
    min-width: 820px;
  }

  .form-contest__text-desktop {
    display: inline;
  }
}
