.logo {
  display: block;

  &--header {
    position: relative;
    left: -71px;
    top: -17px;
    height: auto;
    width: auto;
  }

  &--footer {
    margin: 0 auto;
    width: 146px;
  }
}

.logo__svg {
  &--header {
    fill: @color-white;

    &:hover {
      fill: @color-fuchsia;
    }

    &:active {
      fill: @color-white;
      fill-opacity: 0.3;
    }
  }

  &--footer {
    fill: @color-main;

    &:hover {
      fill: @color-fuchsia;
    }

    &:active {
      fill: @color-main;
      fill-opacity: 0.3;
    }
  }
}

@media only screen and (min-width: 660px) {
  .logo {
    &--header {
      position: static;
    }

    &--footer {
      margin: 0;
      margin-top: -3px;
    }
  }
}

@media only screen and (min-width: 960px) {
  .logo {
    &--header {
      margin-right: auto;
    }

    &--footer {
      margin-top: 0;
    }
  }
}
