.main-menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  /* Оформление */
  .ulstyle();
}

@media (min-width: 1200px) {
  .main-menu {
    flex-direction: row;
    justify-content: space-between;

    width: 620px;
  }
}

.main-menu__item {
  text-align: center;
}

@media (min-width: 1200px) {
  .main-menu__item {
    margin: 0 auto;
  }
}

.main-menu__link {
  /* Типографика */
  color: @color-white;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: @color-fuchsia;
  }

  &:active {
    color: rgba(@color-fuchsia, 0.3);
  }
}
