.main-nav {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

@media (min-width: 1200px) {
  .main-nav {
    flex-direction: row;

    padding: 0 130px;

    background-color: rgba(@color-black, 0.3);
  }
}

.main-menu {
  display: none;
  flex-direction: column;
  margin: 0;
  padding: 0;
  /* Оформление */
  .ulstyle();
}

@media (min-width: 1200px) {
  .main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
  }
}

.main-menu__item {
  text-align: center;
}

.main-menu__link {
  display: block;
  /* Типографика */
  color: @color-white;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: @color-fuchsia;
  }

  &:active {
    color: rgba(@color-fuchsia, 0.3);
  }
}


@media (min-width: 1200px) {
  .main-menu__link {
    margin-bottom: 39px;
    margin-top: 39px;

    text-transform: none;
  }
}
