.map {
  position: relative;

  height: 645px;
  width: 100%;

  color: @color-main;
  line-height: 0;

  background-color: @color-white;
}

@media (min-width: 660px) {
  .map {
    height: 402px;
  }
}

@media (min-width: 1200px) {
  .map {
    height: 504px;
  }
}

.map-js {
  position: absolute;
  top: 0;
  z-index: 1;

  border: none;
  width: 100%;
}

@media (min-width: 660px) {
  .map-js {
    height: 402px;
  }
}

@media (min-width: 1200px) {
  .map-js {
    height: 504px;
  }
}

.map-inner {
  position: relative;
  margin: 0 auto;
  width: auto;
  overflow: hidden;
}

@media (min-width: 660px) {
  .map-inner {
    height: 404px;
  }
}

@media (min-width: 660px) {
  .map-inner {
    height: 540px;
  }
}

.map-image {
  display: block;
  width: 100%;
  height: auto;
}
