.page-header {
  position: relative;

  color: rgb(255, 255, 255);

  background-color: @color-main;
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;

  box-sizing: border-box;
  padding: 21px 20px;
  width: 320px;

  background-color: rgba(@color-black, 0.3);
}

@media (min-width: 660px) {
  .page-header__top {
    padding-bottom: 43px;
    padding-top: 27px;
    width: 660px;
  }
}

@media (min-width: 1200px) {
  .page-header__top {
    padding-right: 170px;
    width: 320px;

    background-color: rgba(@color-black, 0);
  }
}

.page-header__logo-image {
  display: block;
  height: 100%;
}
