.page-header {
  width: 100%;
  position: relative;
  z-index: 10;
}

@media (min-width: 960px) {
  .page-header {
    position: absolute;
  }
}

.page-header__top {
  margin-bottom: 26px;
  margin-right: auto;
}

@media (min-width: 660px) {
  .page-header__top {
    margin-bottom: 45px;
  }
}

@media (min-width: 960px) {
  .page-header__top {
    margin-right: 244px;
    margin-bottom: 0;
  }
}

.page-header__logo-image {
  display: block;
}
