.page-footer {
  display: flex;

  background-color: @color-white;
}

.page-footer__logo,
.page-footer-social,
.page-footer__copyright {
  margin: 0 auto;
}

@media (min-width: 660px) {
  .page-footer__logo,
  .page-footer-social,
  .page-footer__copyright {
    margin: 0;
  }
}
