@media (min-width: 660px) {
  .panorama {
    margin-bottom: 50px;
  }
}

.panorama__image {
  margin: 0 auto;
}

.panorama__link {
  display: block;
}

.panorama__picture {
  display: block;

  height: 137px;
  width: 100%;
}

@media (min-width: 660px) {
  .panorama__picture {
    height: 509px;
  }
}

@media (min-width: 1200px) {
  .panorama__picture {
    height: 506px;
  }
}
