.panorama__image {
  margin: 0 auto;
  max-width: 320px;
}

@media (min-width: 660px) {
  .panorama__image {
    max-width: 700px;
  }
}

@media (min-width: 1200px) {
  .panorama__image {
    max-width: 1200px;
  }
}

.panorama__link {
  display: block;
}

.panorama__picture {
  display: block;
}
