.photos {
  background-color: @color-white;
}

.photos__lead {
  margin: 0;
  width: 280px;

  color: @color-main;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;text-align: center;
}

@media (min-width: 660px) {
  .photos__lead {
    width: 620px;
  }
}

@media (min-width: 660px) {
  .photos__lead {
    width: 940px;
  }
}
