.photos {
  background-color: @color-white;
}

.photos__lead {
  color: @color-main;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;

  &--top {
    margin-bottom: 49px;
  }

  &--bottom {
    padding-bottom: 42px;
  }
}

.photos_case {
  margin-bottom: 20px;
}

.photos_users {
  padding-bottom: 20px;
}

@media only screen and (min-width: 660px) {
  .photos__lead {
    font-size: 18px;

    margin: 0 auto;
    width: 600px;

    &--top {
      margin-bottom: 76px;
    }

    &--bottom {
      width: 510px;
      margin-bottom: 69px;
      padding-bottom: 0;
    }
  }

  .photos_users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 960px) {
  .photos__lead {
    &--top {
      margin-bottom: 88px;
      width: 660px;
    }

    &--bottom {
      width: 470px;
      margin-bottom: 4px;
    }
  }

  .photos_users {
    padding-bottom: 0;
    margin-bottom: 5px;
  }
}
