.photo {
  margin-bottom: 20px;
  min-height: 301px;
}

.photo__wrap {
  &--panorama {
    position: relative;
  }

  &--panorama::before {
    .pseudoelements();
    content: "Панорама дня";
    right: 0;
    top: 0;

    width: 140px;
    height: 36px;

    color: @color-white;
    font-family: inherit;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;

    background-color: @color-fuchsia;
  }
}

.photo__image-link {
  line-height: 0;
}

.photo__image {
  display: block;

  height: auto;
  width: 100%;
}

.photo__comments {
  background-color: rgb(242, 242, 242);
}

@media (min-width: 660px) {
  .photo {
    width: 300px;
    min-height: 455px;

    display: flex;
    flex-direction: column;
  }

  .photo__comments {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &--panorama {
      padding-bottom: 8px;
    }
  }
}

@media (min-width: 960px) {
  .photo {
    min-height: 555px;
    margin-bottom: 54px;
  }
}
