.price {
  background-color: rgb(242, 242, 242);
}

.price-wrap {
  padding-bottom: 46px;
  padding-top: 130px;
}

@media (min-width: 660px) {
  .price-wrap {
    padding-top: 109px;
    padding-bottom: 33px;
  }
}

@media (min-width: 1200px) {
  .price-wrap {
    padding-bottom: 60px;
    padding-top: 187px;
  }
}
