.review {
  color: @color-black;
}

.review__autor-name {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.review__item {
  margin: 0;
}

.review__text {
  margin: 0;

  color: @color-main;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
