.social {
  padding-bottom: 40px;
  padding-top: 37px;
  width: 178px;
}

.social__list {
  .ulstyle();
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 12px;
}

.social__link {
  display: block;
  position: relative;

  border: 3px solid rgba(@color-main, 0.1);
  height: 45px;
  width: 45px;

  background-clip: content-box;
  border-radius: 50%;

  &:hover {
    border-color: @color-main;
  }

  &:active {
    opacity: 0.3;
    border-color: rgba(@color-main, 0.3);
  }
}

.social__icon {
  position: absolute;

  transform: translate(-50%, -50%);

  fill: @color-fuchsia;


  &--twitter {
    left: calc(50% + 1px);
    top: calc(50% + 1px);
  }

  &--facebook {
    left: calc(50% - 1px);
    top: calc(50% - 1px);
  }

  &--youtube {
    left: calc(50% + 2px);
    top: calc(50% - 1px);
  }
}

@media only screen and (min-width: 660px) {
  .social {
    padding: 0;
    width: 196px;
  }
}

@media only screen and (min-width: 960px) {
  .social {
    margin-top: 3px;
    width: 162px;
  }
}
