.social {
  padding-bottom: 40px;
  padding-top: 37px;
}

@media (min-width: 660px) {
  .social {
    padding: 0;
    width: 196px;
  }
}

@media (min-width: 1200px) {
  .social {
    margin-top: 3px;
    width: 162px;
  }

  .page-footer--index .social {
    width: 169px;
  }
}

.social-links {
  .ulstyle();
  display: flex;
  width: 178px;
}

.social-links__item:not(:last-child) {
  margin-right: 12px;
}

.social-links__link {
  display: block;

  border: 3px solid rgba(@color-main, 0.1);
  height: 45px;
  width: 45px;

  background-clip: content-box;
  background-repeat: no-repeat;
  border-radius: 50%;

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
    background-position: left calc(50% - 1px) top 50%;
  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
    background-position: left calc(50% - 1px) top calc(50% - 1px);
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
    background-position: left calc(50% + 1px) top calc(50% - 1px);
  }

  &:hover {
    border-color: @color-main;
  }

  &:active {
    opacity: 0.3;
    border-color: rgba(@color-main, 0.3);
  }
}
