.stores {
  .ulstyle();
}

.stores__item {
  padding: 30px; /*временно*/
}

.stores__link {
  height: 56px;
  padding: 29px;
  width: 53px;

  color: @color-white;
  text-decoration: none;

  background-position: center;
  background-repeat: no-repeat;

  &--itunes {
    background-image: url("../img/logo-apple.svg");
  }

  &--googleplay {
    background-image: url("../img/logo-android.svg");
  }

  &--windows {
    background-image: url("../img/logo-microsoft.svg");
  }
}
