.stores {
  .ulstyle();

  display: flex;
  justify-content: space-between;
  align-items: bottom;

  padding: 0 37px;
  padding-bottom: 23px;
  padding-top: 35px;
}

.stores__link {
  display: block;

  height: 56px;
  width: 53px;

  color: @color-white;
  text-decoration: none;

  background-position: center;
  background-repeat: no-repeat;

  &--itunes {
    height: 57px;

    background-image: url("../img/logo-apple.svg");
    background-position: left 1px top -2px;
  }

  &--googleplay {
    width: 52px;

    background-image: url("../img/logo-android.svg");
    background-position: left 5px top 7px;
  }

  &--windows {
    background-image: url("../img/logo-microsoft.svg");
    background-position: left 8px top 11px;
  }
}
