.stores {
  .ulstyle();

  align-items: center;
  display: flex;
  justify-content: space-between;

  margin-bottom: 18px;
  padding: 0 37px;
}

.stores__link {
  display: block;

  color: @color-white;
  text-decoration: none;

  &--googleplay {
    margin-top: 5px;
    margin-left: -2px;
  }

  &--windows {
    margin-top: 5px;
  }
}

@media only screen and (min-width: 660px) {
  .stores {
    margin: 0 auto;
    margin-bottom: 32px;
    width: 205px;
  }

  .stores__link {
    &--googleplay {
      margin-top: 0;
    }
  }
}

@media only screen and (min-width: 960px) {
  .stores {
    margin-bottom: 51px;
  }

  .stores__link {
    &--googleplay {
      margin-left: -3px;
      margin-top: 5px;
    }
  }
}
