.trigger {
  border: none;
  height: 24px;
  width: 50px;

  background-color: rgba(@color-main, 0);
  background-image: url("../img/icon-menu-burger.svg");
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;
}
