.trigger {
  border: none;
  height: 26px;
  width: 26px;

  background-color: rgba(@color-main, 0);
  background-image: url("/../img/icon-menu-cross.svg");
  background-position: center;
  background-repeat: no-repeat;
}
