.upload {
  padding-bottom: 41px;
  padding-top: 20px;
  background-color: rgb(242, 242, 242);
}

.upload__photo {
  margin-bottom: 40px;
}

.upload__img {
  display: block;

  height: auto;
  width: 100%;
}

@media (min-width: 660px) {
  .upload {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-bottom: 54px;
    padding-top: 57px;
  }

  .upload__wrapper {
    display: flex;
  }

  .upload__photo {
    margin-bottom: 0;
    margin-right: 45px;
  }
}

@media (min-width: 960px) {
  .upload {
    padding-bottom: 28px;
    padding-top: 62px;
    background-color: @color-white;
  }

  .upload__wrapper {
    padding-bottom: 57px;
    padding-left: 80px;
    padding-right: 60px;
    padding-top: 53px;

    background-color: rgb(242, 242, 242);
  }

  .upload__photo {
    margin-top: 4px;
    margin-right: 86px;
  }
}
