.upload {
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 242, 242);
}

@media (min-width: 660px) {
  .upload {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .upload {
    padding-bottom: 57px;
    padding-left: 80px;
    padding-right: 60px;
    padding-top: 57px;
  }
}

.upload__filters {
  display: flex;
  flex-direction: column;
}
